/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.title{
  text-align: center;
  color: #FFFFFF ;
  font-size: xx-large;
}
.sidebar{
  background-color:#FFA586;
  color:black;
  min-height: 70vh;
  width: 200px;
}

.sidebar-brand{
  color:rgba(255, 255, 255, 0.686);
  font-weight:bolder;
  text-decoration: none;
}
@media screen and (min-width: 900px) {
  .myform{
    display:flex;
  }
}
h1{
  text-align: center;
}
.myform{
  border:1px solid gray;
  margin-top:2rem;
  border-radius: 1rem;
  padding:2rem;
}
.myform label{
width:10rem;
font-size: 18px;
font-style: italic;
font-weight: bold;
}
.myform h3{
font-size: 24px;
font-style: italic;
font-weight: bold;
}
.myform div{
 margin-bottom:1rem;
}
.error_message{
color:rgb(144, 47, 47);
font-size: 12px !important;
}
Table{
  border:2px solid rgba(128, 128, 128, 0.504);
  border-radius: 2rem !important;
}